{% extends '::base.html.twig' %}

{% block stylesheets %}
    {# Include parent stylesheets and add this one #}
    {{ parent() }}
    <link href="{{ asset('css/random.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="random-numbers">Random number between 1 and {{ limit }}: {{ number }}</div>
    <div>{{ maliciousCode }}</div>
    {# Display actual code without escaping: #}
    {# <div>{{ maliciousCode }}</div> #}
    {{ dump(maliciousCode) }}
{% endblock %}